@import '../vars/colors.scss';

.first-invitation {
  padding: 109px 0 157px;

  h2 {
    margin-bottom: 89px;

    @media screen and (max-width: 767px) {
      margin-bottom: 60px;
      font-size: 40px;
      line-height: 50px;
    }
  }

  @media screen and (max-width: 767px) {
    padding: 80px 0 69px;
  }
}

.first-invitation-block {
  display: flex;
  justify-content: center;
  gap: 125px;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.first-invitation-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 44px;

  .app-img {
    text-align: center;
  }
}

.first-invitation-item-btn {
  @media screen and (max-width: 767px) {
    max-width: 375px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}

.first-invitation-logged {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;

  .btn {
    padding: 12px 28px;
    background-color: $bg-white;
    border: 1px solid $text-violet;
  }
}
