@import '../vars/fonts.scss';
.home {
  .how-it-work {
    border-radius: 60px;
    background: #fbfafd;
    padding: 88px 0;
    @media (max-width: 800px) {
      border-radius: 28px;
    }
  }
  .boxes-title {
    display: block;
  }
  .sleigh-gift {
    .app-img__img {
      width: 100%;
      height: auto;
    }
  }
  .happy-person {
    @media (max-width: 760px) {
      transform: translateX(-8.4%);
      width: 100%;
      min-width: 332px;
    }
    .app-img__img {
      width: 100%;
    }
  }
  .happy-peoples-block {
    align-items: flex-start;
    .main-text-block {
      min-width: 394px;
      @media (max-width: 474px) {
        min-width: unset;
      }
    }
  }
  .mt-170 {
    @media (max-width: 1200px) {
      margin-top: 100px;
    }
    @media (max-width: 1100px) {
      margin-top: 60px;
    }
    @media (max-width: 760px) {
      &.happy-peoples-block {
        margin-top: 0;
      }
    }
  }
}
