@import '../../../assets/styles/vars/colors.scss';
@import '../../../assets/styles/vars/fonts.scss';

.reset-password {
  .modal {
    max-width: 384px;

    @media screen and (max-width: 500px) {
      margin-left: 16px;
      margin-right: 16px;
    }
  }

  .modal-backdrop {
    background: linear-gradient(rgba(21, 18, 95, 0.6), rgba(21, 18, 95, 0.6)),
      url('~@/assets/images/svg/event-create-pattern.svg') repeat 50% fixed;
  }

  h1 {
    margin-bottom: 16px;
  }
}
