@import '../vars/fonts.scss';

.my-events-search {
  max-width: 555px;
  width: 100%;
  grid-column: span 2;
  border: 1px solid #f2f2f2;
  border-radius: 8px;

  .search-container {
    display: flex;
    align-items: center;
    height: 36px;
    padding: 7px 0;
    box-sizing: border-box;
  }

  .select-option {
    .select-button {
      width: 100%;
      height: 22px;
      padding: 0 0 0 14px;
      font-size: $font-size-16;
      border-right: 1px solid #e0e0e0;
      border-radius: 0;

      .options {
        left: 0;
      }
    }
  }

  .search-input-container {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 0 0 12px;
  }

  .search-input-icon {
    position: relative;
    width: 28px;
    height: 28px;
    cursor: pointer;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .search-input {
    height: 36px;
    padding: 0 8px;
    border: none;
  }

  @media screen and (max-width: 767px) {
    display: none;
    grid-column: auto;
  }
}

.input-icon-fade-enter-active,
.input-icon-fade-leave-active {
  transition: opacity 0.2s ease-out;
}

.input-icon-fade-enter,
.input-icon-fade-leave-to {
  opacity: 0;
}
