@import '../vars/colors.scss';

.breadcrumbs {
  display: flex;
  margin-bottom: 14px;
  span {
    cursor: auto;
  }
  .atomLink {
    display: flex;
    align-items: center;
    color: $text-main-color;
    opacity: 0.67;
    &.router-link-active {
      opacity: 0.4;

      &::after {
        content: '';
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-left: 4px;
        margin-right: 4px;
        background: url(~@/assets/images/svg/small-arrow-right.svg) no-repeat center;
      }
    }

    &::after {
      display: none;
      margin-right: 0;
    }

    @media screen and (max-width: 767px) {
      font-size: 20px;
      line-height: 35px;
    }

    @media screen and (max-width: 500px) {
      font-size: 16px;
    }
  }
}
