#forgotPassword {
  .hg-back-to-login {
    right: calc(50% - 180px);
    border: unset;
    position: absolute;
    width: unset;
    color: rgb(106 99 141);

    @media (max-width: 500px) {
      right: calc(50% - 56.775px);
    }
  }
}
