#changePassword {
  margin-top: 70px;

  h1 {
    margin-bottom: 20px;
  }

  form {
    .form-base {
      max-width: unset;

      fieldset {
        max-width: unset;

        &.form-label-group {
          margin-bottom: 24px;

          &:last-child {
            @media (max-width: 830px) {
              margin-bottom: 10px;
            }
          }

          &.not-empty {
            input {
              &:valid {
                & + label {
                  left: 8px;
                  color: #3054d7;
                }
              }
            }
          }
        }
      }
    }

    .hg-update-pwd-btn {
      @media (max-width: 760px) {
        margin: auto;
        float: unset;
        display: block;
      }
    }
  }
}
