.calendar-input-content {
  margin-top: -23px;
  .mx-datepicker {
    width: 100%;
    .mx-input-wrapper {
      input {
        border-bottom: 1px solid #6159a9 !important;
        &.mx-input {
          -webkit-box-shadow: inset 0 0px 0px rgb(0 0 0 / 8%);
          padding: 0 !important;
        }
      }
    }
  }
}
.label-calendar {
  position: relative;
  bottom: -15px;
  font-size: 14px;
  color: rgba(17, 6, 74, 0.5);
  &.active {
    left: 7px;
    color: #3054d7;
  }
}
.cell {
  &.active {
    background-color: #6159a9 !important;
    border-radius: 50% !important;
  }
}
