.calendar-content {
  height: 318px;

  .hg-active-date {
    pointer-events: none;
  }

  .hg-event-calendar {
    top: 0 !important;
    left: 0 !important;
    margin-top: 0 !important;
    .mx-calendar {
      max-width: 312px;
      width: 100%;

      @media (max-width: 320px) {
        width: 100%;
      }

      .mx-calendar-content {
        height: 270px;

        .mx-table {
          .cell {
            &.active {
              background-color: #6159a9;
              border-radius: 50%;
            }

            &:hover {
              border-radius: 50%;
            }
          }

          &.mx-table-month {
            .cell {
              &.active {
                border-radius: 0;
              }

              &:hover {
                border-radius: 0;
              }
            }
          }

          &.mx-table-year {
            .cell {
              &.active {
                border-radius: 0;
              }

              &:hover {
                border-radius: 0;
              }
            }
          }
        }
      }
    }
  }
}
