$text-main-color: #11064a;
$text-second-color: rgba(17, 6, 74, 0.62);
$text-violet: #6159a9;
$text-white-color: #fff;
$text-red-color: #e01812;
$active-color: #5d5ba9;
$btn-gradient-color: linear-gradient(305.15deg, #5d5aa9 -9.14%, #8b5aa9 100%);
$btn-color: #5d5ba9;
$bg-white: #fff;
$base-red: #eb5757;
$green-secondary: #27ae60;

//Social values
$google-red: #d92f23;
$facebook-blue: #4266b2;
